/* 주차장 상태 관련 이미지 및 텍스트 컨테이너 */
/* - parkinglot01 */
.rectangle-parent {
  position: relative; /* 부모 요소의 상대적인 위치를 기준으로 자식 요소를 배치 */
  margin: 43px 0; /* 상하 여백 */
  height: 80px; /* 컨테이너 높이 */
  width: 110%;
  background-color: #f2f2f2; /* 배경색 설정 */
  display: flex;
  justify-content: space-between; /* 양 끝에 내용 배치 */
  align-items: center; /* 중앙 정렬 */
  padding: 10px; /* 패딩 추가 */
}

.div1 {
  text-align: center;
  color: black;
}

/* 주차장 상태 주소 나타나는 부분 */
.wrapper {
  position: absolute; /* 이미지 위에 텍스트 겹치도록 설정 */
  top: 120%; /* 부모 요소의 50% 위치 */
  left: 35%; /* 부모 요소의 50% 위치 */
  transform: translate(-40%, -40%); /* 가운데 정렬 */
  color: #000; /* 텍스트 색상 */
  font-size: 14px;
  z-index: 2; /* 이미지 위로 오게 z-index 조정 */
  text-align: center;
  width: 80%;
}

/* 이미지 관련 스타일 */


.icon {
  position: absolute;
  top: 0px;
  right: 7px;
  width: 20px;
  height: 20px;
  z-index: 3; /* 텍스트와 이미지 위에 별 아이콘 배치 */
  background-color: darkblue;
}

/* 주차장 정보와 이벤트 버튼 스타일 */
.rectangle-group {
  position: relative;
  margin: 0px ;
  width: 90%;
  height: 40px;
  left: 5%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.rectangle-container {
  position: relative;
  margin: 0px ;
  width: 90%;
  height: 40px;
  left: 5%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

/* parkinglot01 */
.div12 {
  color: #000;
  font-size: 14px;
  text-align: center;
}

/* parkinglot01 */
/* 기타 주차장 정보 텍스트 */
.div13, .div14, .div15{
  color: #000;
  font-size: 15px;
  width: 45%;
  height: 0px;
  text-align: left;
  margin: 7% ;
  margin-top: 5px;
  text-align: start;
}

/* parkinglot01 */
.div17, .div18{
  width: 30%;
  height: 0px;
  margin: 7%;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  text-align: start;
} 

/* Header컴포넌트 CSS */
.headercontainer {
  position: absolute;
  top: 9px;
  height: 500px;
  z-index: 997;
  /* margin-top: 8px; */
  
}

.line-box.selected {
  background-color: #ffda38;
  
}

.line-box-label {
  font-size: 16px;
  font-weight: 500;
}

.screen-container {
  position: relative;
  width: 390px;
  height: 844px;
  /* 아이폰 이미지 크기 */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border-radius:67px;
  overflow: hidden;
}

/* 아이폰 이미지 크기 조정 */
.screen-replace {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  /* 프레임이 제일앞에 오도록 z-index 설정 */
}




/* Buttons에 들어가는 CSS */
.instance-child {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 80%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.property-1default-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* 배너 박스 CSS */ 
/* .BannerBox {
  width: 400px;
  position: relative;
  border-radius: 5px;
  background-color: #d9d9d9;
  height: 100px;
} */


/* 버튼하단바 CSS */
.bottom-bar {
  position: absolute;
  display: flex;
  background-color: black;
  bottom: 220px;
  left: 617px;
  justify-content: space-around;
  width: 393px;
  height: 68px;
  z-index: 2;
  /*기본 z-인덱스*/
}

.icon-1 {
  display: inline-block ;
}
.icon-2 {
  display: inline-block;
}
.icon-3 {
  display: inline-block;
}

.or {
  background-color: black;
  height: 280px;
  width: 350px;
  margin: 20px;
}
.button{
  position: relative;
  color: white;
  object-fit: cover;
  width: 100px;
  height: 0px;
  font-size: 13px;
  text-align: center;  
}

.button img {
  height: 30px;
  width: 30px;
  margin-top: 12%;
}

p {
  display: block;
  margin: 0; /* 모든 방향의 마진을 0으로 설정 */
  unicode-bidi: isolate;
}

.he{
  color: white;
  background-color: black;
}

.rectangle-parent02 {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 정렬 */
  margin-top: 5%;
}

.number {
  color: #000;
  margin-left: 30px; /* 숫자와 주소 사이 간격 */
}

.div19 {
  margin-left: 50px; /* 주소와 아이콘 사이 간격 (선택 사항) */
}

.icon02 {
  margin-left: 50px; /* 아이콘을 오른쪽으로 밀어냄 */
}

/* parkinglot02 (번호 / 주소 )*/

.rectangle-parent01{
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 정렬 */
  font-size: 18px;
  position: relative; 
  left: 615px;
  top: 80px;
  width: 120px;
}

.rectangle-parent02, .rectangle-parent03, .rectangle-parent04, .rectangle-parent05, .rectangle-parent06,
 .rectangle-parent07, .rectangle-parent08, .rectangle-parent09 {
  display: flex;
  align-items: center;
  margin: 17px;
  left: 590px;
  top: 80px;
  position: relative; 
}

.numbers {
  margin-left: 8%;
}

.div20 {
  margin-left: 30%;
}

/* parkinglot03 */
.guid{
  position: absolute;
  bottom: 82px;
  border-radius: 5px;
  
}

.parkingMaps{
  position: absolute;
  border: 3px solid black; /* 검정색 선 */
  border-radius: 5px; /* 둥근 모서리 (선택 사항) */
  overflow: hidden; /* 지도와 선이 겹치지 않도록 설정 */
  left: 621px;
  top: 400px;

}


.ad {
  position: relative; 
  left: 625px;
  top: 65px;
  font-size: 14px;
  width: 170px;
  height: 22px;
  font-weight: bold;
  
}

.search_1 {
  width: 50px;
  height: 48px;
  background-color: #000;
  color: white;
  border-radius: 8px;
  margin-top: -10%;
  margin: 1%;  
}

.box{
  width: 300px;
  height: 48px;
  border-radius: 4px;
}

.box::placeholder {
  color: #d9d9d9;
  opacity: 0.5;
  font-size: 16px;  
}

.input-container {
  position: relative; 
  height: 50px;
  left: 620px;
  top: 60px;
}

.texts{
  position: relative; 
  color: #d9d9d9;
  width: 223px;
  height: 110px;
  font-size: 11px;
  left: 315px;
  top: 43px;
  font-weight: bold;
}

.guid {
  
  width: 350px;
  height: 350px;
  left: 630px;
  top: 400px;
}
/* Parkinglot04 */
.one{
  width: 353px;
  height: 160px;
  color: #000;
  border: 2px solid; /* 테두리 */
  border-radius: 10px; /* 둥근 모서리 */
  text-align: center;
  padding: 0px; /* 안쪽 여백 */
  margin-top: 15px;
}

.two{
  width: 353px;
  height: 160px;
  color: #000;
  border: 2px solid; /* 테두리 */
  border-radius: 10px; /* 둥근 모서리 */
  text-align: center;
  padding: 0px; /* 안쪽 여백 */
  margin-top: 15px;
}

.three{
  width: 353px;
  height: 160px;
  color: #000;
  border: 2px solid; /* 테두리 */
  border-radius: 10px; /* 둥근 모서리 */
  text-align: center;
  padding: 0px; /* 안쪽 여백 */
  margin-top: 15px;
}

.all{
  position: absolute;
  left: 635px;
  top: 230px;
}


.ones{
  position: absolute; 
  right: 130px;
  bottom: 435px;
}

.members{
  width: 150px;
  height: 48px;
  background-color: #000;
  color: white;
  border-radius: 8px;
  left: 180px;
  bottom: 370px; 
  position: absolute; 
}

.pt{
  width: 120px;
  height: 120px;
  color: #000;
  border: 2px solid; /* 테두리 */
  border-radius: 100px; /* 둥근 모서리 */
  position: relative; 
  left: 25px;
  top: 20px;
}

.pk{
  width: 177px;
  height: 30px;
  border: 0px solid; /* 테두리 */
  background-color: white;
  font-size: 20px;
  position: relative; 
  bottom: 50px;
  font-weight: bold;
  left: 28px;
}

.p-icon{
  width: 140px;
  height: 140px;
  position: relative; 
  top: 10px;
  right: 30px;
}

.my-pk{
  width: 177px;
  height: 30px;
  border: 0px solid; /* 테두리 */
  background-color: white;
  font-size: 20px;
  position: relative; 
  bottom: 50px;
  font-weight: bold;
  left: 130px;
}

.parking-icon{
  width: 140px;
  height: 140px;
  position: relative; 
  top: 10px;
  right: 160px;
}



/* 회원정보 수정 페이지 컴포넌트 css */
.name01{
  width:200px;
  height: 30px;
  position: relative;
  top: 12px;
  font-weight: bold;
  left: 400px;
  font-size: 13px;
  z-index: 2; /* 글자가 배경 이미지보다 위에 표시됨 */
}

.red{
  font-size: 10px;
  width: 300px;
  color: red;
  position: relative;
  left: 56px;
  bottom: 14px;
  z-index: 2; /* 글자가 배경 이미지보다 위에 표시됨 */
}

.red01{ 
  font-size: 10px;
  width: 300px;
  color: red;
  position: relative;
  left:88px;
  bottom: 14px;
  z-index: 2; /* 글자가 배경 이미지보다 위에 표시됨 */
}

.box01{
  width: 100%;
  height: 38px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  position: static;
  z-index: 2;
}

.box02{
  width: 138px;
  height: 38px;
  border-radius: 4px;
  position: relative;
  left: 25px;
  bottom: 17px;
  z-index: 2; /* 글자가 배경 이미지보다 위에 표시됨 */
}

.gol{
  width: 48px;
  height: 48px;
  position: relative;
  left: 25px;
  font-size: 0px;
  top: 0px;
  z-index: 2; /* 글자가 배경 이미지보다 위에 표시됨 */
}

.box03{
  width: 338px;
  height: 50px;
  position: relative;
  left: 25px;
  border-radius: 4px;
  background-color: black;
  color: #f0f0f0;
  font-size: 13px;
  text-align: center;
  top: 70px;
  z-index: 2; /* 글자가 배경 이미지보다 위에 표시됨 */
}

.pi{
  position: relative; 
  z-index: 1;
  bottom: 580px
}